.image-container img{
    width: 100%;
  }
  
#img-box {
  display: flex;
  align-items: center;
}

#pizza-img {
  width: 25%;
  height: 25%;
}

#container {
  padding-left: 5%;
  padding-right: 5%;

}

@media screen and (min-width: 520px) {
  #container {
    padding-left: 30%;
    padding-right: 30%;

  }
}