#container {
    padding-left: 5%;
    padding-right: 5%;
  
  }

  #carpark {
    width:90%;
    height:30%;
  }
  
  @media screen and (min-width: 520px) {
    #container {
      padding-left: 30%;
      padding-right: 30%;
  
    }
  }