@font-face {
  font-family: "QT Basker";
  src: url("../public/fonts/QTBasker.otf");
}

@font-face {
  font-family: "Indiana Signature";
  src: url("../public/fonts/IndianaSignatureRegular.otf");
}

body {
  margin: 0;
  font-family: 'QT Basker', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: green;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
